<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 border">

				<%= form_for :session, :url => login_path do |f| %>

					<h2>Username: <%= f.text_field :username, class: "form-control" %></h2>
					<h2>Password: <%= f.password_field :password, class: "form-control" %></h2>
					<%= f.submit "Sign in!", class: "btn btn-default" %>
				<% end %>


			</div>
			<div class="col-md-4"></div>
</div>