<div class="container-fluid">	


	<h1>Your Cards</h1>
	

<accordion>
   
    <accordion-group heading="{{card.question}}" ng-repeat="card in deck">
      {{card.answer}}
    </accordion-group>
    
  </accordion>


</div>