<div class="container-fluid">	

	<h1>Public Decks</h1>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<input type="text" ng-model="searchTerm" class="form-control search" placeholder="Search for Deck">
			</div>
			<ul class="grid">
				<li class="unit" ng-repeat="deck in publicDecks | filter:searchTerm | orderBy:'created_at':true">
					<div class="well">
						<a href="/decks/{{deck.id}}">
							<h2>{{ deck.name }}</h2>
						</a>
						<h4>By {{ deck.user.username }}</h4>
						<p>{{ deck.cards.length }} cards</p>
						<a href="/practice/{{deck.id}}" class="btn btn-success">Practice</a>
						<a href="/quiz/{{deck.id}}" class="btn btn-primary">Quiz</a>
						<button type="button" class="btn btn-danger" ng-click="deleteDeck(deck)">Delete</button>
					</div>
					
				</li>
			</ul>
		</div>
	</div>

</div>